/* Reset some default styles for the body */
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    color: #333;
}

/* Styling for the navigation area */
.nav-area {
    background-color: white; /* Background color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
}

/* Styling for the logo image in the navigation area */
.nav-area img {
    height: 50px;
    margin-right: 20px;
}

/* Styling for the search area within the navigation */
.search-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

/* Styling for the search form */
.search-area form {
    display: flex;
    flex-grow: 1;
}

/* Styling for the search input */
.search-area input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 3px; /* Rounded corners */
}

/* Styling for the search button */
.search-area button {
    padding: 8px 16px;
    background-color: #f90; /* Background color */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

/* Styling for the search button on hover */
.search-area button:hover {
    background-color: rgb(238, 162, 62);
}

/* Styling for the navigation menu */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px;
}

/* Styling for the navigation menu items */
nav ul li {
    margin: 0 10px;
    color: #000;
    cursor: pointer;
    font-size: 1.2em;
}

/* Styling for navigation menu items on hover */
nav ul li:hover {
    color: #f90;
}

/* Styling for navigation menu item links */
nav ul li a {
    text-decoration: none;
    color: #000;
}

/* Styling for navigation menu item links on hover */
nav ul li a:hover {
    color: #f90;
}

/* Styling for the dropdown menu */
nav .dropdown-menu {
    position: relative;
}

/* Styling for the toggle menu (dropdown) */
nav .toggle-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 31px;
    left: -11px;
    border-radius: 5px;
}

/* Styling for the opened toggle menu */
.toggle-menu.opened {
    display: block;
}

/* Styling for items in the toggle menu */
.toggle-menu li {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Styling for links in the toggle menu */
.toggle-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 15px;
    padding: 4px 14px;
}

/* Styling for links in the toggle menu on hover */
.toggle-menu li a:hover {
    background-color: #f1f1f1;
}

/* Styling for the cart area in the navigation */
.nav-area .cart-area a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    position: relative;
}

/* Styling for the cart area link on hover */
.nav-area .cart-area a:hover {
    color: #f90;
}

/* Styling for the cart icon in the cart area */
.nav-area .cart-area a i {
    font-size: 23px;
    margin-right: 12px;
}

/* Styling for the cart item count in the cart area */
.nav-area .cart-area a span {
    font-size: 15px;
    padding: 2px 4px;
    display: inline-block;
    background-color: #f90;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: 17px;
}

/* Styling for the cart item count on hover */
.nav-area .cart-area a:hover span {
    background-color: #444;
}

/* Additional styles for icons */
.fa-solid {
    margin-right: 5px;
}

/* Add media query style  */

@media(max-width: 768px){
    .nav-area {
        flex-wrap: wrap;
    }
    .nav-area .logo{
        width: 20%;
    }
    .nav-area .search-area{
        width: 75%;
    }
    .nav-area nav{
        width: 75%;
    }
    nav .toggle-menu {
        width: 150px;
    }
    .toggle-menu li {
        padding: 8px;
    }
    .toggle-menu li a {
        padding: 4px;
        text-align: center;
    }
    .nav-area .cart-area{
        width: 20%;
    }
}

@media(max-width: 450px){
    nav ul li {
        margin: 0 6px;
        font-size: 1em; 
    }
    .nav-area .cart-area a {
        font-size: 1em;
    }
}

/* Styling for page titles */
.page-title {
    color: #333;
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Styling for the cart container */
.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
}

/* Styling for the cart items */
.cart-items {
    width: 70%;
}

/* Styling for individual cart items */
.cart-item {
    background-color: white;
    border-bottom: 1px solid #eee;
    padding: 20px 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styling for the left part of the cart item */
.cart-item .cart-left {
    display: flex;
    align-items: center;
}

/* Styling for the right part of the cart item */
.cart-item .cart-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styling for the price in the cart item */
.cart-item .cart-right .price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* Styling for the cart item form */
.cart-item form {
    margin-top: 10px;
}

/* Styling for the cart item details */
.cart-item .cart-item-details {
    display: flex;
    flex-direction: column;
}

/* Styling for the last cart item (no bottom border) */
.cart-item:last-child {
    border-bottom: none;
}

/* Styling for cart item images */
.cart-item img {
    max-width: 100px;
    border-radius: 4px;
    margin-right: 20px;
}

/* Styling for cart item headings */
.cart-item h3 {
    margin: 0;
    color: #333;
}

/* Styling for cart item paragraphs */
.cart-item p {
    margin: 10px 0 0;
    color: #666;
}

/* Styling for the cart item buttons */
.cart-item .cart-right button {
    background-color: white;
    color: #f90;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    transition: background 0.3s ease;
}

/* Styling for the cart item buttons on hover */
.cart-item .cart-right button:hover {
    background-color: rgba(255, 153, 0, 0.3);
}

/* Styling for the checkout container */
.checkout-container {
    width: 25%;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the checkout button */
#checkoutButton {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    background-color: #f90;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* Styling for the checkout button on hover */
#checkoutButton:hover {
    background-color: rgb(238, 162, 62);
}

/* Styling for the total cart */
.total-cart {
    margin-bottom: 20px;
}

.empty-cart{
    height: 210px;
    font-size: 22px;
}

/* Add media query styling */
@media(max-width : 992px){
    .cart-container {
        align-items: center;
        flex-direction: column;
    }
    .cart-items {
        width: 100%;
    }
    .cart-item .cart-left {
        width: 65%;
    }
    .cart-item .cart-right {
        width: 30%;
    }
    .checkout-container {
        width: 50%;
        text-align: center;
    }
}

@media(max-width : 768px){
    .cart-item{
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
    }
    .cart-item .cart-left {
        width: 100%;
    }
    .cart-item .cart-right {
        width: 100%;
    }
    .cart-item .cart-right .price {
        font-size: 18px;
    }
    .cart-item .cart-right button {
        margin-top: 15px;
    }
    .checkout-container {
        width: 70%;
    }
}

/* Add styling for footer */
footer {
    background-color: #e6e6e6;
    color: #333;
    padding: 20px;
    text-align: center;
    margin-top: 150px;
  }
  
  /* Styling for paragraphs in the footer */
  footer p {
    color: #000;
  }