/* Global styles to reset default margin, padding, and set font-family */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body{
    background-color: #f5f5f5;
}

/* Styling for the navigation area */

.nav-area {
    background-color: #e6e6e6; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
}

/* Styling for the logo/image within the navigation area */

.nav-area img {
    height: 50px;
    margin-right: 20px;
}

/* Styling for the search area */

.search-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

/* Styling for the search form within the search area */

.search-area form {
    display: flex;
    flex-grow: 1;
}

/* Styling for the text input within the search form */

.search-area input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px 3px; 
}

/* Styling for the search button within the search area */

.search-area button {
    padding: 8px 16px;
    background-color: #f90; 
    color: white;
    border: none;
    border-radius:  3px 3px; 
    cursor: pointer;
    margin-left: 10px;
}

/* Hover effect for the search button */

.search-area button:hover {
    background-color: rgb(238, 162, 62); 
}

/* Styling for the navigation menu ul */

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px;
}

/* Styling for individual menu items (li) within the navigation menu */

nav ul li {
    margin: 0 10px;
    color: #000;
    cursor: pointer;
    font-size: 1.2em; 
}

/* Hover effect for individual menu items (li) */

nav ul li:hover {
    color: #f90;
}

/* Styling for links (a) within individual menu items (li) */

nav ul li a {
    text-decoration: none;
    color: #000;
}

/* Hover effect for links (a) within individual menu items (li) */

nav ul li a:hover {
    color: #f90;
}

/* Styling for dropdown menus */

nav .dropdown-menu {
    position: relative;
}

/* Styling for the toggle menu */

nav .toggle-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 31px;
    left: -11px;
    border-radius: 5px;
}

/* Display toggle menu when opened */

.toggle-menu.opened {
    display: block;
}

/* Styling for individual items (li) within the toggle menu */

.toggle-menu li {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Styling for links (a) within the toggle menu */

.toggle-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 15px;
    padding: 4px 14px;
}

/* Hover effect for links (a) within the toggle menu */

.toggle-menu li a:hover {
    background-color: #f1f1f1;
}

/* Styling for the cart area in the navigation */

.nav-area .cart-area a {
    color: black; 
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    position: relative;
}

/* Hover effect for cart area */

.nav-area .cart-area a:hover {
    color: #f90;
}

/* Styling for the cart icon in the cart area */

.nav-area .cart-area a i {
    font-size: 23px;
    margin-right: 12px;
}

/* Styling for the badge/count in the cart area */

.nav-area .cart-area a span {
    font-size: 15px;
    padding: 2px 4px;
    display: inline-block;
    background-color: #f90;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: 17px;
}

/* Hover effect for the badge/count in the cart area */

.nav-area .cart-area a:hover span {
    background-color: #444;
}

/* Additional styles for specific elements */

.fa-solid {
    margin-right: 5px;
}

/* Add media query style  */

@media(max-width: 768px){
    .nav-area {
        flex-wrap: wrap;
    }
    .nav-area .logo{
        width: 20%;
    }
    .nav-area .search-area{
        width: 75%;
    }
    .nav-area nav{
        width: 75%;
    }
    nav .toggle-menu {
        width: 150px;
    }
    .toggle-menu li {
        padding: 8px;
    }
    .toggle-menu li a {
        padding: 4px;
        text-align: center;
    }
    .nav-area .cart-area{
        width: 20%;
    }
}

@media(max-width: 450px){
    nav ul li {
        margin: 0 6px;
        font-size: 1em; 
    }
    .nav-area .cart-area a {
        font-size: 1em;
    }
}

/* Styling for search results container */

.search-results {
    padding: 20px;
    background-color: #f5f5f5;
}

/* Styling for products container */

.products-container {
    max-width: 800px;
    margin: auto;
}

/* Styling for individual product items */

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 400px;
    justify-content: space-between;
    display: flex;
}

/* Styling for product item details */

.search-item-details {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 30px;
}

/* Styling for product name */

.product-name {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Styling for product image */

.product-image {
    max-width: 100px;
    border-radius: 4px;
    margin-right: 20px;
}

/* Styling for product description */

.product-description {
    color: #666;
    margin-bottom: 10px;
}

/* Styling for product price */

.product-price {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Styling for add to cart form */

.add-to-cart-form {
    margin-top: 10px;
    text-align: center;
    width: 35%;
}

/* Styling for quantity selector */

.quantity-selector {
    margin-bottom: 10px;
}

/* Styling for quantity dropdown */

.quantity-dropdown {
    padding: 5px 10px;
    font-size: 1rem;
}

/* Styling for add to cart button */

.add-to-cart-button {
    padding: 11px 30px;
    background-color: #f90; 
    color: white;
    border: none;
    border-radius:  3px 3px; 
    cursor: pointer;
    margin-left: 10px;
}

/* Hover effect for add to cart button */

.add-to-cart-button:hover {
    background-color: rgb(238, 162, 62);
}

/* Styling for the "no results" message */

.no-results {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    height: 315px;
    margin-top: 100px;
}


/* Responsive styling */
@media (min-width: 768px) {
    .product-item {
        flex-direction: row;
        height: 400px;
    }
    .search-item-details, .add-to-cart-form {
        width: 60%;
    }
    .product-image {
        max-width: 100px;
    }
}

/* Responsive Text Sizes */
@media (max-width: 600px) {
    .product-name {
        font-size: 1.2rem;
    }
    .product-description {
        font-size: 0.9rem;
    }
    .quantity-dropdown, .add-to-cart-button {
        width: 100%;
        box-sizing: border-box;
    }
}


/* Styling for the footer */

footer {
    background-color: #e6e6e6; 
    color: #333; 
    padding: 20px;
    text-align: center;
    margin-top: 90px;
}

/* Styling for paragraph and footer */

footer p {
    color: #000;
}

