.upper-bar {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0;
    font-family: Arial, sans-serif; 
}

.upper-bar span {
    margin: 0 5px; 
    padding: 2px 5px; 
    background-color: #555; 
    border-radius: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.nav-area {
    background-color: #f8f8f8; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}


.nav-area h1 {
    font-size: 24px;
    color: #000; 
    margin-right: 20px;
}



.search-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.search-area form {
    display: flex;
    flex-grow: 1;
}

.search-area input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 3px 0 0 3px; 
}

.search-area button {
    padding: 8px 16px;
    background-color: #f90; 
    color: white;
    border: none;
    border-radius: 0 3px 3px 0; 
    cursor: pointer;
}

.search-area button:hover {
    background-color: #e80; 
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
    color: #000; 
}


.nav-area .cart-area a,
.nav-area nav a {
    color: #000; 
    text-decoration: none;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.fa-solid {
    margin-right: 5px;
}