.upper-bar {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0;
    font-family: Arial, sans-serif; 
}

.upper-bar span {
    margin: 0 5px; 
    padding: 2px 5px; 
    background-color: #555; 
    border-radius: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.nav-area {
    background-color: #e6e6e6; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
}


.nav-area img {
    height: 50px;
    margin-right: 20px;
}



.search-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.search-area form {
    display: flex;
    flex-grow: 1;
}

.search-area input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px 3px; 
}

.search-area button {
    padding: 8px 16px;
    background-color: #f90; 
    color: white;
    border: none;
    border-radius:  3px 3px; 
    cursor: pointer;
    margin-left: 10px;
}

.search-area button:hover {
    background-color: rgb(238, 162, 62); 
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px;
}

nav ul li {
    margin: 0 10px;
    color: #000; 
}


.nav-area .cart-area a {
    color: #ff6a00; 
    text-decoration: none;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.fa-solid {
    margin-right: 5px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.products-container li {
    list-style-type: none;
    border: 1px solid #ddd;
    margin: 30px;
    padding: 10px 20px;
    width: 250px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.products-container li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.products-container img {
    height: 250px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* .products-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
} */

.products-container h2 {
    font-size: 1.2em;
    margin: 5px 0;
}

.products-container p {
    font-size: 0.9em;
    line-height: 1.4;
}

.products-container .price {
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold;
}

.products-container .price span{
    font-size: 16px;
    font-weight: bold;
}

.products-container form label{
    font-size: 14px;
}

.products-container form select {
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 14px;
}

.products-container .add-to-cart {
    display: block;
    padding: 8px 16px;
    background-color: #f90; 
    color: white;
    border: none;
    border-radius:  3px 3px; 
    cursor: pointer;
    margin: 12px auto 6px;
}


.products-container .add-to-cart:hover {
background-color: rgb(238, 162, 62); 
}