* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.nav-area {
    background-color: #e6e6e6; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
}


.nav-area img {
    height: 50px;
    margin-right: 20px;
}



.search-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.search-area form {
    display: flex;
    flex-grow: 1;
}

.search-area input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px 3px; 
}

.search-area button {
    padding: 8px 16px;
    background-color: #f90; 
    color: white;
    border: none;
    border-radius:  3px 3px; 
    cursor: pointer;
    margin-left: 10px;
}

.search-area button:hover {
    background-color: rgb(238, 162, 62); 
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px;
}

nav ul li {
    margin: 0 10px;
    color: #000;
    cursor: pointer;
    font-size: 1.2em; 
}

nav ul li:hover{
    color: #f90;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li a:hover{
color: #f90;
}

nav .dropdown-menu{
    position: relative;
}

nav .toggle-menu{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 31px;
    left: -11px;
    border-radius: 5px;
}

.toggle-menu.opened {
    display: block;
}

.toggle-menu li {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.toggle-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 15px;
    padding: 4px 14px;
}

.toggle-menu li a:hover {
    background-color: #f1f1f1;
}

.nav-area .cart-area a {
    color: black; 
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    position: relative;
}

.nav-area .cart-area a:hover{
    color: #f90;
}

.nav-area .cart-area a i {
    font-size: 23px;
    margin-right: 12px;
}

.nav-area .cart-area a span {
    font-size: 15px;
    padding: 2px 4px;
    display: inline-block;
    background-color: #f90;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: 17px;
}

.nav-area .cart-area a:hover span{
    background-color: #444;
}

.fa-solid {
    margin-right: 5px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.products-container li {
    list-style-type: none;
    border: 1px solid #ddd;
    margin: 30px;
    padding: 10px 20px;
    width: 250px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.products-container li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.products-container img {
    height: 250px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.products-container h2 {
    font-size: 1.2em;
    margin: 5px 0;
}

.products-container p {
    font-size: 0.9em;
    line-height: 1.4;
}

.products-container .price {
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold;
}

.products-container .price span{
    font-size: 16px;
    font-weight: bold;
}

.products-container form label{
    font-size: 14px;
}

.products-container form select {
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 14px;
}

.products-container .add-to-cart {
    display: block;
    padding: 8px 16px;
    background-color: #f90; 
    color: white;
    border: none;
    border-radius:  3px 3px; 
    cursor: pointer;
    margin: 12px auto 6px;
}


.products-container .add-to-cart:hover {
background-color: rgb(238, 162, 62); 
}

