<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/cart.css">
</head>
<body>
    <header>
        <div class="nav-area">
            <a href="/">
                <img src="static\images\logo.png" alt="Time Redfined">
            </a>
            <div class="search-area">
                <form action="/search" method="get">
                    <input type="text" name="product_to_find" id="product_to_find" placeholder="Search products" >
                    <button type="submit" id="submitButton">Search</button>
                </form> 
            </div>
            <nav>   
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="dropdown-menu" id="dropdown-menu"><i class="fa-regular fa-user"></i> Account <i class="fa-solid fa-chevron-down"></i>
                        <ul class="toggle-menu closed" id="toggle-menu">
                            {% if 'username' not in session %}
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/register">Sign up</a></li>
                        {% else %}
                            <li><a href="/logout">Log out</a></li>
                        {% endif %}
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="cart-area">
                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i><span id="cart-items-count">{{total_quantity}}</span>Cart</a>
        </div>
        </div>
    </header>
    <h1 class="page-title">Shopping Cart</h1>
    <div id="product_id" class="cart-container">
        <div class="cart-items">
        {% if cart_items  %}
            {% for cart_item in cart_items  %}
                <div class="cart-item">
                    <div class="cart-left">
                        <img src="{{ cart_item.image }}" alt="{{ cart_item.name }}">
                        <div class="cart-item-details">
                            <h3>{{ cart_item.name }}</h3>
                            <p>{{ cart_item.description }}</p>
                        </div>
                    </div>
                    <div class="cart-right">
                        <p class="price">Price: {{ cart_item.price }}</p>
                        <p>Quantity: {{ cart_item.quantity }}</p>
                        <form action="{{ url_for('remove_from_cart', product_id=cart_item['id']) }}" method="post">
                            <button type="submit">Remove</button>
                        </form>   
                    </div>            
                </div>
            {% endfor %}
        </div>
        <div class="checkout-container">
            <div class="total-cart">
                <h3>Total cart: {{ total_price }}</h3>
                <p>{{total_quantity}}</p>
            </div>
            <div class="checkout">
                <button id="checkoutButton">Checkout</button>
            </div>
        </div>
        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}
    </div>
    <footer>
        <div class="about">
            <h2>About Us</h2>
            <p>Welcome to our  store. We offer a variety of watches to suit your needs. Browse our collection and enjoy our offers!</p>
            </div>
        <p>© 2024 Online Store. All rights reserved.</p>
    </footer>
    <script src="/static/cart.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>