<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/cart.css">
</head>
<body>
    <h1>Your Shopping Cart</h1>
    <div id="product_id">
        {% if cart_items  %}
            {% for cart_item in cart_items  %}
                <div class="cart-item">
                    <h3>{{ cart_item.name }}</h3>
                    <img src="{{ cart_item.image }}" alt="{{ cart_item.name }}">
                    <p>Price: {{ cart_item.price }}</p>
                    <p>Quantity: {{ cart_item.quantity }}</p>
                    <form action="{{ url_for('remove_from_cart', product_id=cart_item['id']) }}" method="post">
                        <button type="submit">Remove from cart</button>
                    </form>               
                </div>
            {% endfor %}
        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}
    </div>
</body>
</html>