<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/cart.css">
</head>
<body>
    <header>
        <!-- Navigation area -->
        <div class="nav-area">
            <!-- Logo linking to the homepage -->
            <a class="logo" href="/">
                <img src="/static/images/logo.png" alt="Time Redfined">
            </a>
            <!-- Search area -->
            <div class="search-area">
                <form action="/search" method="get">
                    <input type="text" name="product_to_find" id="product_to_find" placeholder="Search products">
                    <button type="submit" id="submitButton">Search</button>
                </form> 
            </div>
            <!-- Navigation links -->
            <nav>   
                <ul>
                    <li><a href="/">Home</a></li>
                    <!-- Dropdown menu for account options -->
                    <li class="dropdown-menu" id="dropdown-menu">
                        <i class="fa-regular fa-user"></i>
                        {% if 'username' in session %}
                        Hi, {{ session['username'] }} 
                        {% else %}
                        Account
                        {% endif %}
                        <i class="fa-solid fa-chevron-down"></i>
                        <ul class="toggle-menu closed" id="toggle-menu">
                            <!-- Conditional rendering based on user session -->
                            {% if 'username' not in session %}
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/register">Sign up</a></li>
                            {% else %}
                            <li><a href="/logout">Log out</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- Cart area with total quantity -->
            <div class="cart-area">
                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i><span id="cart-items-count">{{total_quantity}}</span>Cart</a>
            </div>
        </div>
    </header>
    <section>
    <!-- Title of the page -->
    <h1 class="page-title">Shopping Cart</h1>
    <div id="product_id" class="cart-container">
        <div class="cart-items">
        <!-- Displaying cart items -->
        {% if cart_items %}
            {% for cart_item in cart_items %}
                <!-- Individual cart item -->
                <div class="cart-item">
                    <div class="cart-left">
                        <img src="{{ cart_item.image }}" alt="{{ cart_item.name }}">
                        <div class="cart-item-details">
                            <h3>{{ cart_item.name }}</h3>
                            <p>{{ cart_item.description }}</p>
                        </div>
                    </div>
                    <div class="cart-right">
                        <p>Price per unit: {{cart_item.unit_price}} USD</p>
                        <p><span class="price">Total price: {{ cart_item.price }}</span> USD</p>
                        <p>Quantity: {{ cart_item.quantity }}</p>
                        <!-- Form to remove item from cart -->
                        <form action="{{ url_for('remove_from_cart', product_id=cart_item['id']) }}" method="post">
                            <button type="submit">Remove</button>
                        </form>   
                    </div>            
                </div>
            {% endfor %}
        </div>
        <!-- Checkout container -->
        <div class="checkout-container">
            <div class="total-cart">
                <!-- Displaying total price -->
                <h3>Total cart: {{ total_price }} USD</h3>
            </div>
            <!-- Checkout button -->
            <div class="checkout">
                <form action="{{ url_for('checkout') }}" method="post">
                    <button type="submit" id="checkoutButton">Checkout</button>
                </form>
            </div>
        </div>
        {% else %}
            <p class="empty-cart">Your cart is empty.</p>
        {% endif %}
    </div>
    </section>
    <footer>
        <!-- Copyright notice -->
        <p>© 2024 Online Store. All rights reserved.</p>
    </footer>


    <!-- Linking JavaScript files -->
    <script src="/static/main.js"></script>
</body>
</html>