<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/confirmation.css">
</head>
<body>
    <header>
        <div class="nav-area">
            <a href="/">
                <img src="/static/images/logo.png" alt="Time Redfined">
            </a>
        </div>
    </header>
    <div>
        <div class="container">
            <h1>Order Confirmation</h1>
        </div>
    </div>
    <div class="container confirmation">
        <h2 id="thankYouMessage"></h2>
        <p>Your order has been confirmed and will be shipped to you.</p>
        <p>Please allow 1-3 business day(s) for shipping</p>
        <div class="order-summary">
            <h3>Order Summary</h3>
            <p>Total: {{total_price}}</p>

            <p>If you have any questions, please contact us at <a href="mailto:support@example.com">support@example.com</a>.</p>
            
            <h3>30-Day Money-Back Guarantee</h3>
            <p>Remember, you have a 30-day money-back guarantee with your purchase.</p>
        </div>
        <a href="/" class="button">Continue Shopping</a>
    </div>
    <script src="/static/confirmation.js"></script>
</body>
</html>