<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <div class="upper-bar">
            Offer ends in:
            <span id="days">{{days}} day</span>
            <span id="hours">{{hours}} hour</span>
            <span id="minutes">{{minutes}} minute</span>
            <span id="seconds">{{seconds}} second</span>
        </div>
        <div class="nav-area">
            <img src="static\images\logo.png" alt="Time Redfined">
            <div class="search-area">
                <form action="/search_products" method="get">
                    <input type="text" name="product_to_find" id="product_to_find" placeholder="Search products" >
                    <button type="submit" id="submitButton">Search</button>
                </form> 
            </div>
            <nav>   
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Products</li>
                    <li>Contact Us</li>
                </ul>
            </nav>
            <div class="cart-area">
                    <a href="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </header>
    <section>
            <h2>Products</h2>
            <div class="products-container">
                {% for product in products %}
                    <li>
                        <h2>{{ product.name }}</h2>
                        <img src="{{ product.image }}" alt="{{ product.name }}" style="width:100px; height:auto;">
                        <p>{{ product.description }}</p>
                    </li>
                {% endfor %}
            </div>
    </section>
            <section id="about">
            <h2>About Us</h2>
            <p>Welcome to our online store. We offer a variety of products to suit your needs. Browse our collection and enjoy our offers!</p>
    </section>
        <footer>
        <p>© 2024 Online Store. All rights reserved.</p>
    </footer>
    <script src="/static/main.js"></script>
</body>
</html>