<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/product-detail.css">
    <title>product Detail</title>
</head>
<body>
    <header>
        <div class="nav-area">
            <a href="/">
                <img src="/static/images/logo.png" alt="Time Redfined">
            </a>
            <div class="search-area">
                <form action="/search" method="get">
                    <input type="text" name="product_to_find" id="product_to_find" placeholder="Search products" >
                    <button type="submit" id="submitButton">Search</button>
                </form> 
            </div>
            <nav>   
                <ul>
                    <li>Home</li>
                    <li class="dropdown-menu" id="dropdown-menu"><i class="fa-regular fa-user"></i> Account <i class="fa-solid fa-chevron-down"></i>
                        <ul class="toggle-menu closed" id="toggle-menu">
                            {% if 'username' not in session %}
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/register">Sign up</a></li>
                        {% else %}
                            <li><a href="/logout">Log out</a></li>
                        {% endif %}
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="cart-area">
                    <a href="/cart"><i class="fa-solid fa-cart-shopping"></i><span id="cart-items-count">{{total_quantity}}</span>Cart</a>
            </div>
        </div>
    </header>
    <section class="product-detail">
        <h1 class="product-name">{{ product.name }}</h1>
        <div class="product-image-container">
            <img src="{{ product.image }}" alt="{{ product.name }}" class="product-image">
        </div>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price" id="price-{{ product.id }}" data-price-per-unit="{{ product.price }}">{{ product.price }}</p>
        <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="post" class="add-to-cart-form">
            <div class="quantity-selector">
                <label for="quantity-{{ product.id }}">Quantity:</label>
                <select name="quantity" id="quantity-{{ product.id }}" class="quantity-dropdown" onchange="updateTotalPrice('{{ product.id }}')">
                    {% for qty in range (1 , 11) %}
                        <option value="{{ qty }}">{{ qty }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="add-to-cart-button">Add to Cart</button>
        </form>
        <footer>
            <div class="about">
                <h2>About Us</h2>
                <p>Welcome to our  store. We offer a variety of watches to suit your needs. Browse our collection and enjoy our offers!</p>
                </div>
            <p>© 2024 Online Store. All rights reserved.</p>
        </footer>
    <script src="/static/main.js"></script>
</body>
</html>