<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/register.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="register-form">
        <h2>Sign up</h2>
        <form action="/register" method="post" id="registerForm">
            <input type="text" name="username" placeholder="User name" required>
            <input type="email" name="email" placeholder="Email" id="emailField" required>
            <div id="emailError" style="color: red;"></div>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <div id="passwordError" style="color: red;"></div>
            <button type="submit">Sign up</button>
        </form>
        <div class="login-section">
            <span>Already have an account? 
                <a href="/login">Log in</a>
            </span>
        </div>
    </div>
    <script src="/static/main.js"></script>
</body>
</html>