<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/register.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- Container for the registration form -->
    <div class="register-form">
        <!-- Heading for the registration section -->
        <h2>Sign up</h2>
        <!-- Registration form -->
        <form action="/register" method="post" id="registerForm">
            <!-- Input field for username -->
            <input type="text" name="username" placeholder="Username" id="nameField" required>
            {% if username_error %}
                <div class="error">{{ username_error }}</div>
            {% endif %}
            <!-- Input field for email -->
            <input type="email" name="email" placeholder="Email" id="emailField" required>
            <!-- Container for email error messages -->
            {% if email_error %}
                <div class="error">{{ email_error }}</div>
            {% endif %}
            <!-- Input field for password -->
            <input type="password" name="password" placeholder="Password" id="password" required>
            <div class="error" id="passwordError"></div>
            <!-- Submit button for the form -->
            <button type="submit">Sign up</button>
        </form>
        <!-- Section for redirecting to the login page -->
        <div class="login-section">
            <span>Already have an account? 
                <a href="/login">Log in</a> <!-- Link to the login page -->
            </span>
        </div>
    </div>
    <!-- Link to a JavaScript file for additional functionality -->
    <script src="/static/register.js"></script>
</body>
</html>