<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/search.css">
</head>
<body>
    <header>
        <div class="nav-area">
            <a href="/">
                <img src="static\images\logo.png" alt="Time Redfined">
            </a>
            <div class="search-area">
                <form action="/search" method="get">
                    <input type="text" name="product_to_find" id="product_to_find" placeholder="Search products" >
                    <button type="submit" id="submitButton">Search</button>
                </form> 
            </div>
            <nav>   
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="dropdown-menu" id="dropdown-menu"><i class="fa-regular fa-user"></i> Account <i class="fa-solid fa-chevron-down"></i>
                        <ul class="toggle-menu closed" id="toggle-menu">
                            {% if 'username' not in session %}
                            <li><a href="login">Log in</a></li>
                            <li><a href="register">Sign up</a></li>
                        {% else %}
                            <li><a href="logout">Log out</a></li>
                        {% endif %}
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="cart-area">
                    <a href="cart"><i class="fa-solid fa-cart-shopping"></i><span id="cart-items-count">{{total_quantity}}</span>Cart</a>
            </div>
        </div>
    </header>
    <section class="search-results">
        <div class="products-container">
            {% if products  %}
                <ul class="product-list">
                    {% for product in products %}
                        <li class="product-item">
                            <div class="search-item-details">
                            <h2 class="product-name">{{ product.name }}</h2>
                            <a href="{{ url_for('product_detail', product_id=product.id) }}" class="product-link">
                                <img src="{{ product.image }}" alt="{{ product.name }}" class="product-image">
                            </a>
                            <p class="product-description">{{ product.description }}</p>
                            <p class="product-price" id="price-{{ product.id }}" data-price-per-unit="{{ product.price }}">Total price: {{ product.price }}</p>
                            </div>
                            <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="post" class="add-to-cart-form">
                                <div class="quantity-selector">
                                    <label for="quantity-{{ product.id }}">Quantity:</label>
                                    <select name="quantity" id="quantity-{{ product.id }}" class="quantity-dropdown" onchange="updateTotalPrice('{{ product.id }}')">
                                        {% for qty in range (1 , 11) %}
                                            <option value="{{ qty }}">{{ qty }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="add-to-cart-button">Add to Cart</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="no-results">{{product_to_find}} is not found</p>
            {% endif %}
        </div>
    </section>    
    <!-- <section>
        <div class="products-container">
            {% if products  %}
                {% for product in products %}
                    <li>
                        <h2>{{ product.name }}</h2>
                        <a href="{{ url_for('product_detail', product_id=product.id) }}">
                            <img src="{{ product.image }}" alt="{{ product.name }}">
                        </a>
                        <p>{{ product.description }}</p>
                        <p id="price-{{ product.id }}" data-price-per-unit="{{ product.price }}">Total price:{{ product.price }}</p>
                        <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="post">
                            <label for="quantity-{{ product.id }}">Quantity:</label>
                            <select name="quantity" id="quantity-{{ product.id }}" onchange="updateTotalPrice('{{ product.id }}')" >
                                {% for qty in range (1 , 11) %}
                                    <option value="{{ qty }}">{{ qty }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit">Add to Cart</button>
                        </form>
                    </li>
                {% endfor %}
            {% else %}
                <p>{{product_to_find}} is not found</p>
            {% endif %}
        </div>
</section> -->
<script src="/static/main.js"></script>
</body>
</html>